<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    
   
    <title>BUSCAR INVESTIMENTOS</title>
</head>
<body>
    
    <div>
        <a href="/"><h1>INVESTIMENTO HG FINANCE</h1></a>
    
        <li class="login"><a href="/login">Login</a></li>
        <li class="login"><a href="/register">Registrar</a></li>
        <li class="login"><a href="/logout">Logout</a></li>
    </div>