<%- include('partials/head') %>

<div class="busca">
  
    <h2>CONSULTAR :</h2>
    <form class="center" action="/busca" method="GET">
         <button>BUSCAR INVESTIMENTOS</button>
        <br><br>
    </form>
</div>


<%- include('partials/footer') %>