<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>

<body>
    <%- include('partials/head') %>
    <h2>Formulário de Cadastro</h2>
    <form action="/register" method="post">
        <input type="text" name="usuarionome" placeholder="Usuário">
        <input type="password" name="senha" placeholder="Senha">
        <button type="submit">Enviar</button>
    </form>
    
    <br>
    <%- include('partials/footer') %>


</body>
</html>